.field-wrapper {
  height: 60%;
  background-color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  .field {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 1px solid #888;
    .cell {
      position: relative;
      border: 1px solid #888;
      box-sizing: border-box;
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.open {
        background-color: #ddd;
      }
      &.flagged:after {
        position: absolute;
        content: "";
        width: 50%;
        height: 50%;
        background-image: url("../assets/img/flag.png");
        background-size: cover;
      }
      &.mine:after {
        position: absolute;
        content: "";
        width: 50%;
        height: 50%;
        background-image: url("../assets/img/mine.png");
        background-size: cover;
      }
      &.count-1:after {
        content: "1";
        color: green;
      }
      &.count-2:after {
        content: "2";
        color: lightseagreen;
      }
      &.count-3:after {
        content: "3";
        color: yellow;
      }
      &.count-4:after {
        content: "4";
        color: lightskyblue;
      }
      &.count-5:after {
        content: "5";
        color: blue;
      }
      &.count-6:after {
        content: "6";
        color: blueviolet;
      }
      &.count-7:after {
        content: "7";
        color: orange;
      }
      &.count-8:after {
        content: "8";
        color: red;
      }
    }
    &.easy {
      .cell {
        width: 80px;
        height: 80px;
      }
    }
    &.normal {
      .cell {
        width: 40px;
        height: 40px;
      }
    }
    &.hard {
      .cell {
        width: 20px;
        height: 20px;
      }
    }
  }

}


.dark {
  .field-wrapper {
    background-color: red;
  }
}
