@import './header.scss';
@import './field.scss';
@import './footer.scss';

body {
  height: 100vh;
  background-color: #eee;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.game-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

