@import './header.scss';
@import './field.scss';
@import './footer.scss';

body {
  height: 100vh;
  background-color: #eee;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.game-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  .modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #eee;
    border-radius: 10px;

  }
}

